#heading1{
    background-color: black;
    color: aliceblue;
    padding: 50px;
    text-align: center;
}

#heading2{
    background-color: burlywood;
    color: black;
    padding: 20px;
    text-align: center;
}